.banner {height: 77px; background-color: #337AB7; margin: 2px; margin-bottom: 5px;line-height: 50px;font-size:30px;color: white;}
.tab-container {width:17%;float:left;}
.tab-content{float:left;margin-left:10px;}